<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.zsj.smile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="me.zsj.smile.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/smile_title"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/smile_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MeizhiAndSmileActivity"
            android:label="MeizhiAndSmile"
            android:theme="@style/AppTheme.Activity">

        </activity>

        <activity
            android:name=".ui.MeizhiListActivity"
            android:label="@string/activity_meizhi_title">
        </activity>

        <activity android:name=".ui.MeizhiActivity"
            android:theme="@style/AppTheme.Activity">
        </activity>

        <activity android:name=".ui.AboutActivity">
        </activity>

        <activity android:name=".ui.VedioActivity"
            >
        </activity>

        <activity android:name=".ui.LoveCollectActivity"
            android:label="@string/activity_collect_title"
            >
        </activity>

        <!--<activity android:name=".ui.OriginalityVideoActivity"
            android:label="@string/activity_originalityVideo_title">
        </activity>

        <activity android:name=".ui.PlayerActivity"
            android:label="@string/activity_originalityVideo_title"
            android:configChanges="orientation|screenSize">
        </activity>-->
    </application>

</manifest>
